include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.md
include requirements.txt
include classifiers
recursive-include sessioninfo *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include sessioninfo/static *
recursive-include sessioninfo/templates *
global-exclude *.orig *.pyc *.log *.swp